.app {
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: rgb(211, 211, 211);
  padding: 25px;
  min-height: 600px;
}
.user-list-main-container {
  background-color: rgb(245, 245, 245);
  max-width: 900px;
  padding: 25px;
  border: 1px;
  border-radius: 25px;
  box-shadow: 5px 5px 15px -8px;
  display: flex;
}
.user-list {
  max-width: 620px;
}
.user-profile {
  width: 200px;
}
@media screen and (max-width: 992px) {
  .user-list {
    align-content: center;
    width: 300px;
  }
}
@media screen and (max-width: 576px) {
  .user-list-main-container {
    display: flex;
    flex-direction: column;
    min-height: 510px;
  }
  .user-list {
    align-content: center;
    width: 300px;
    overflow: auto;
  }
  .user-list-sm {
    height: 250px;
  }
}
