.user-list-container {
  min-height: 390px;
}
.title {
  display: flex;
  font-size: 15px;
  padding: 10px;
  font-weight: 600;
  justify-content: space-between;
  text-align: left;
}
.name {
  display: flex;
}
.name, .access, .status {
  display: flex;
  align-items: center;
  font-size: 15px;
  cursor: pointer;
  width: 75px;
  color: rgba(0, 0, 0, 0.645);
}
@media screen and (max-width: 992px) {
  .user-list-container {
    min-height: 510px;
  }
  .title {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .user-list-container {
    width: 300px;
    min-height: 510px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
@media screen and (max-width: 992px) {
  .title {
    display: none;
  }
}

